#app {
    max-width: 322px;
    margin: auto;
}

h1 {
    margin: 20px 0px;
    width: 322px;
    text-align: center;
}

h3 {
    margin: 20px 0px;
    width: 322px;
    text-align: center;
}

#controls {
    margin: 20px 0px;
    width: 322px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: gray;
    border-radius: 15px;
}

#gameMessage {
    margin: 20px 0px;
    width: 322px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: purple;
    border-radius: 15px;
    color: white;
}

#controls button{
    vertical-align: middle;
    padding: 5px 10px;
}

#board {
    border: 5px solid black;
    margin: 30px 0px;
    line-height: 0px;
    width: 312px;
}

.row {
    display: block;
    width: 312px;
}

.square {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: inline-block;
    line-height: 100px;
    text-align: center;
    font-size: 32pt;
}

.X {
    background-color: green;
    vertical-align: top;
}

.O {
    background-color: orange;
    vertical-align: top;
}