.entryForm {
    display: inline-block;
    width: 50%;
    height: 200px;
    vertical-align: top;
    text-align: left;
}

.entryForm h1 {
    margin-left: 10px;
    text-align: left;
}

.entryForm label {
    width: 230px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: left;
}

.entryForm input {
    width: 245px;
    margin-left: 5px;
    margin-top: 10px;
}

.entryForm button {
    margin-left: 10px;
    margin-top: 20px;
}

